<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博文列表</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background: #ccc;
        }
        #blog_list{
            margin: 40px auto;
            width: 70%;
            border: solid 10px #ddd;
            padding: 20px;
            background: #CEE5D0;
        }
        #blog_list table{width: 100%;}
        #blog_list table th{text-align: left;}
    </style>
</head>
<body>
    <div id="blog_list">
        <table>
            <tr>
                <th>博文ID</th>
                <th>博文标题</th>
                <th>博文内容</th>
                <th>发布时间</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            <volist name="blog_list" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.content}</td>
                    <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                    <td><a href="">编辑</a></td>
                    <td><a href="">删除</a></td>
                </tr>
            </volist>

        </table>
    </div>
</body>
</html>
